
body {
    font-family: 'Libre Franklin', sans-serif;
}

#header {
    background: linear-gradient(rgba(128, 0, 0, 0.3), rgba(128, 0, 0, 0.3)), url(/assets/images/traffic.jpg);
    background-size: cover;
    height: 672px;
    text-align: center;
    margin: 0;
    color: white;
}

#header h1 {
    font-size: 200px;
    padding-top: 200px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

#header h3 {
    margin-left: 35%;
    width: 30%;
    font-size: 30px;
    padding: 10px;
}

.glyphicon-menu-down {
    padding-top: 100px;
    font-size: 30px;
}

.navbar-default {
    /*    background: linear-gradient(rgba(128, 0, 0, 0.5), rgba(128, 0, 0, 0.5));*/
    background-color: white;
    border: 0;
    margin: 0;
    padding: 5px;
    font-size: 17px;
    border-bottom: 2px solid #800000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #800000;
    /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #800000;
    background-color: #ffffff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #800000;
}

.navbar-default .navbar-brand {
    font-size: 25px;
    margin-right: 800px;
}

.col-md-10 {
    background-color: white;
}

.blackdriver2 {
    float: left;
    max-width: 400px;
    max-height: 400px;
    margin: 5%;
    box-shadow: lightcoral;
}

#footer {
    background: linear-gradient(rgba(128, 0, 0, 0.3), rgba(128, 0, 0, 0.3)), url(/assets/images/footer.jpg);
    background-size: cover;
    /*    height: 250px;
*/
    text-align: center;
    margin: 0;
    color: white;
    padding-top: 40px;
    line-height: 20px;
    font-size: 18px;
}

#footer input {
    margin-bottom: 10px;
}

#footer button {
    margin-bottom: 15px;
}

#footer ul {
    list-style: none;
}

.foot p {
    text-align: right;
    background: linear-gradient(rgba(128, 0, 0, 0.5), rgba(128, 0, 0, 0.5));
    margin: 0;
    padding: 10px;
}


/*
.newsletter-subscription {
    width: 60%;
}
*/
.intro {
    text-align: center; 
}

body {
    font-family: default;
}
.driver-signup {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9e2e0f), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #9e2e0f 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #9e2e0f 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #9e2e0f 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #9e2e0f 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #9e2e0f 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e2e0f', endColorstr='#bc3315',GradientType=0);
	background-color:#9e2e0f;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #401705;
}
.driver-signup:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #9e2e0f));
	background:-moz-linear-gradient(top, #bc3315 5%, #9e2e0f 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #9e2e0f 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #9e2e0f 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #9e2e0f 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #9e2e0f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#9e2e0f',GradientType=0);
	background-color:#bc3315;
}
.driver-signup:active {
	position:relative;
	top:1px;
}

.form-group {
    text-align: center;
}

