<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TWENDE</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:4200/">Home</a></li>
            <li><a href="http://localhost:4200/for-drivers">For Drivers</a></li>
            <li><a href="http://localhost:4200/for-passengers">For Passengers</a></li>
        </ul>
    </div>
</nav>
