    <h1>
        <center>Twende: Car Owners</center>
    </h1>
    <h3>
        <center>Share Your Car and Earn Some Extra Money!</center>
    </h3> <br>

    <div class="container" id="intro">
        <div>
            <h2>
                <center>A grand opportunity to create a new source of Income</center>
            </h2> <br>

            <center>
                <h4>Here's your opportunity to meet new people and form lasting relationships as you create a solid income source
                    for yourself</h4>
            </center>
            <center>
                <h4>Once you join in on Twende's group of drivers, you'll be able to share your route for passengers to see and
                    take a lift with you</h4>
            </center>
            <center>
                <h4>Remember, you're able to forge a relationship and work out a schedule you'll be using for your daily commute</h4>
            </center>
            <center>
                <h4>Aside from saving money on fuel costs, car pooling could ultimately be the answer to reducing traffic congestions
                    in your city</h4>
            </center> <br>

            <br>
            <center><a href="#" class="driver-signup">Sign Up Now!</a></center> <br> {{driver-signup saveDriver="saveDriver"}} <br>

            <center>
                <h4>Car owners who have signed up with Twende:</h4>
            </center>

            <ul>
                {{#each model as |driver|}} {{show-drivers driver=driver}} {{/each}}
            </ul>
            
        </div>
    </div>