<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">TWENDE</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:4200/">Home</a></li>
            <li><a href="http://localhost:4200/for-drivers">For Drivers</a></li>
            <li><a href="http://localhost:4200/for-passengers">For Passengers</a></li>
        </ul>
    </div>
</nav>

<div id="header">
    <h1>TWENDE</h1>
    <h3>- All About Convenience -</h3>
    {{!-- <button data-target="footer"> --}}
    <span  data-target="footer" class="glyphicon glyphicon-menu-down"></span>
    {{!-- </button> --}}
</div>
    <span class="glyphicon glyphicon-menu-down animate bounce"></span>
</div> <br>

<center>
    <h1>Don't feel like Driving Today?</h1>
</center>



    <p>Introducing "Twende", your tailor made solution designed to get you from home to work, school or to your friends without
        forcing you to use a taxi or public means!. All you need to do is log on to the site and have a look at the drivers
        in your current location who will be plying your route. It's that easy!.
    </p><br>
    <br>
    
        
            
                <center><img src="https://firebasestorage.googleapis.com/v0/b/twende-7e6ac.appspot.com/o/pointer.png?alt=media&token=9bc86381-efee-4f85-a7c5-4a78296ac39d" width="100" /></center>
                <center>
                    <h2>Decide Where You Need To Go</h2>
                </center>
            
            
                <center><img src="https://firebasestorage.googleapis.com/v0/b/twende-7e6ac.appspot.com/o/search.png?alt=media&token=b01f452b-8801-4db5-8a70-45bbfb8e5519" width="100" /></center>
                <center>
                    <h2>Search For A Car On That Route</h2>
                </center>
          
            
                <center><img src="https://firebasestorage.googleapis.com/v0/b/twende-7e6ac.appspot.com/o/connect.png?alt=media&token=88a8aa69-8beb-40bb-b2b1-4cdeb05ef7db" width="100" /></center>
                <center>
                    <h2>Call Owner & Arrange a Meet up</h2>
                </center>
      
    <p>You can use <em>Twende</em> as an alternative to using your own car as well, since it'll save you expenses such as fuel,
        parking fees, and contribute to a greener environment by reducing the number of carbon emitting cars on the road
        at any one time. It can be your own special way of contributing towards the preservation of the earth</p><br>
    <img class="blackdriver2" src="https://firebasestorage.googleapis.com/v0/b/twende-7e6ac.appspot.com/o/carpool3.png?alt=media&token=869f9d0b-9225-47ea-bd8c-798de0b8372e">    <br>
    <p> We're trying to introduce the idea of car-pooling to Kenyan drivers to reduce the amount of one person cars on the road
        and as a benefit, tone down on the time spent on traffic. To provide the incentive for this, we're only going to
        ask for Ksh 100 as the minimum payment to your ride driver; regardless of where you're going; far cheaper than what
        you'll ever pay for a taxi.</p><br>
    <p>For drivers, this could be an alternative stream of income since there are always people looking to go where you're plus
        the more trips you make, the more money you get, per day Passengers can use this platform to arrange for regular
        pick up and drop off times for places you frequently visit.
    </p><br><br>
    <!--<div class="row">-->
    
        <center>
            <h2>Benefits</h2>
        </center>
        
            
                <img src="https://firebasestorage.googleapis.com/v0/b/twende-7e6ac.appspot.com/o/no1.png?alt=media&token=da459088-dc97-4eed-bbb6-0c95c28e2905">
            
            
                <h1>Play Your Part In Reducing The Amount Of Carbon Emmission Filling The Air</h1>
    
        
                <img src="https://firebasestorage.googleapis.com/v0/b/twende-7e6ac.appspot.com/o/no2.png?alt=media&token=d31b4cb4-b577-42d2-b31d-ddbbbc7fdfe8">
            
            
                <h1>Reduce The Level Of Traffic Congestion On Roads</h1>
   
                <img src="https://firebasestorage.googleapis.com/v0/b/twende-7e6ac.appspot.com/o/no3.png?alt=media&token=eb913743-aae1-402a-91d0-119db8ab813d">
           
            
                <h1>Get to Use Private Transport At A Lesser Expense</h1>

<div id="footer">
    <div class="newsletter-subscription">
        <label for="newsletter">Subscribe to our Newsletter</label>
        <br> {{input value=newsletter id="newsletter"}}
        <br>
        <button {{action 'subscribe'}}>Subscribe</button>
    </div>
    <div>
        <h3>Contact us:</h3>
        <p><span class="glyphicon glyphicon-earphone"></span> <strong>CALL</strong> : +254 721 467 931</p>
        <p><span class="glyphicon glyphicon-envelope"></span> <strong>EMAIL</strong> : twende@gmail.com</p>
    </div>
    <div class="foot">
        <p>TWENDE 2017</p>
    </div>
</div>